<div class="container">
  <div class="home_context">
    <div class="text">
      <h1 id="home_1">I am,</h1>
      <h2 id="home_2">Majd Mourad Agha</h2>
      <h3>
        Born and raised in the historic city of Damascus, Syria, I hold a degree in Software Engineering from the Faculty of Information Technology Engineering at Damascus University, which I earned in December 2024.<br><br>

        As an experienced software developer, I have had the opportunity to work on diverse projects using a wide range of technologies. My expertise is focused on backend development, where I specialize in building robust, scalable systems and maintaining complex infrastructures. <br><br>

        With a deep understanding of both the software engineering process and backend development, I am skilled in managing all aspects of a project—from initial planning and design to seamless implementation and optimization.
      </h3>
    </div>

    <img ngSrc="https://res.cloudinary.com/dxgro47nn/image/upload/v1726038919/ejzj5yfn0ckcunmnuy1c.jpg" height="700" width="500" alt="Main Character" ngSrcset="100w,200w" priority>
  </div>
</div>

