<div class="about-body">

  <div class="about-me-contacts">

    <div class="about-me-section">
      <div class="about-content">
        <div class="about-text">
          <h1>I am</h1>
          <h2>Majd Mourad Agha</h2>
          <p>A passionate backend developer with a degree in Software Engineering from Damascus University. I have experience building scalable systems and enjoy working on complex problems. With expertise in technologies like NestJS, Laravel, and more, I thrive in fast-paced environments.</p>
          <p>In my free time, I love exploring new frameworks, working on open-source projects, and constantly learning new skills to stay ahead in the tech world.</p>
        </div>
      </div>
    </div>

    <div class="contacts">

      <div class="contact">
        <a class="contact-link" href="https://github.com/Majd-MA" target="_blank">
          <img src="https://res.cloudinary.com/dxgro47nn/image/upload/v1726447558/Github-Logo-PNG-Isolated-HD-removebg-preview_fdarmy.png" alt="GitHub">
        </a>
      </div>

      <div class="contact" >
        <a class="contact-link" href="https://gitlab.com/Majd_MA" target="_blank">
          <img src="https://res.cloudinary.com/dxgro47nn/image/upload/v1726448165/R_dojic5.png" alt="GitLab" >
        </a>
      </div>

      <div class="contact">
        <a class="contact-link" href="mailto: majdmouradagha@gmail.com?subject=Hello&body=Hi there!" target="_blank">
        <img src="https://res.cloudinary.com/dxgro47nn/image/upload/v1726448401/R_i6xfd9-removebg-preview_u3yyx0.png" alt="Gmail">
        </a>
      </div>

    </div>

  </div>


<!--  <div class="feedback">-->
<!--    <h1>Send Feedback</h1>-->
<!--    <input class="input-name" placeholder="Name" [(ngModel)]="feedbackData.name" name="name">-->
<!--    <input class="input-email" type="email" placeholder="Email" [(ngModel)]="feedbackData.email" name="email">-->
<!--    <textarea class="input-message" [(ngModel)]="feedbackData.message" name="message">Enter your message...</textarea>-->
<!--    <button class="button" (click)="submitFeedback()">Submit</button>-->
<!--  </div>-->

  <a class="button" (click)="submitFeedback()" target="_blank" href="https://drive.google.com/file/d/17aRlKm_z6bmxsE3gd9YdQzrnRZPQ5eL6/view?usp=sharing">Get my resume</a>
</div>
