<div class="content-container">
  <div class="filter">
    <div class="filter-placeholder">
      <div id="filter_icon">
        <img src="https://res.cloudinary.com/dxgro47nn/image/upload/v1726373447/black-filter-icon_nnpjnv.png"
             alt="filter_icon" width="20" height="20">
      </div>
    </div>
    <div class="filter-bar" (click)="toggleFilterPopup()">


      <div class="filter-tooltip" *ngIf="showTip">

        <span class="close-tip" (click)="hideTip()">Helps you filter projects</span>
      </div>

      <div *ngIf="selectedTags.length > 0" class="tag-container">
        <div *ngFor="let tag of selectedTags" class="filter-tag">
          {{ tag }}
        </div>
      </div>


    </div>

  </div>

  <div class="filter-popup" *ngIf="isPopupVisible">
    <div class="filter-section">
      <h3>Resources</h3>
      <div class="filter-options">

        <span
          class="filter-option"
          *ngFor="let resource of resources"
          [ngClass]="{ 'active': isSelected(resource) }"
          (click)="toggleTag(resource)"
        >
        {{ resource }}
      </span>

      </div>
    </div>

    <div class="filter-section">
      <h3>Technologies</h3>
      <div class="filter-options">

        <span
          class="filter-option"
          *ngFor="let technology of technologies"
          [ngClass]="{ 'active': isSelected(technology) }"
          (click)="toggleTag(technology)"
        >
        {{ technology }}
      </span>
      </div>
    </div>

  </div>

  <section class="projects-section">
    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of filteredProjects">
        <a [routerLink]="['/project', project.id]" target="_blank">
          <img src="{{project.thumbnail}}" alt="{{project.title}}" class="project-image"/>
          <h3 class="project-name">{{ project.title }}</h3>
          <p class="project-description">{{ project.introduction }}</p>
        </a>
      </div>
    </div>
  </section>
</div>
