@primary-color: #333;

.body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: @primary-color;
  margin: 0;
  padding: 0;
}
.html, body {
  height: 100%;
  margin: 0;
}
.html,body::-webkit-scrollbar {
  display: none;
}
