<section class="introduction">
  <div class="intro-text">
    <h1 class="name">Majd MA</h1>
    <h2 class="tagline">Software Engineer  |  Backend Developer </h2>
    <p class="bio">
      <i>Dedicated software engineer with a passion for backend development, driven by curiosity and a love for problem-solving. Always striving to innovate and deliver scalable, efficient solutions.</i>
    </p>
  </div>
  <img [ngSrc]= imageURL class="profile-image" alt="Main-Character" height="700" width="500" priority>
</section>
