<section class="introduction">
  <div class="intro-text">
    <h1 class="name">Majd MA</h1>
    <h2 class="tagline">Software Engineer  |  Backend Developer </h2>
    <p class="bio">Skilled Backend Developer with over two years of hands-on experience in building and
      maintaining scalable systems, I have experience in various frameworks, with a particular
      specialization in NestJS.
  </div>
  <img [ngSrc]= imageURL class="profile-image" alt="Main-Character" height="700" width="500" priority>
  <div class="intro-tip" *ngIf="isHovered">
    <img src="https://res.cloudinary.com/dxgro47nn/image/upload/v1726625140/directions_uukjpy.png" content="width=device-width, initial-scale=1.0" alt="intro-tip">
  </div>
</section>
