<section class="introduction">
  <div class="intro-text">
    <h1 class="name">Majd MA</h1>
    <h2 class="tagline">Backend Developer & Software Engineer</h2>
    <p class="bio">I build scalable, efficient backend systems and bring a keen eye for design and engineering to every project I work on.</p>
<!--    <div class="intro-buttons">-->
<!--      <button class="cta-button">See My Work</button>-->
<!--      <button class="cta-button">Contact Me</button>-->
<!--    </div>-->
  </div>
  <img [ngSrc]= imageURL class="profile-image" alt="Main-Character" height="700" width="500" priority>
</section>
