<button class="back-button" (click)="goBack()">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
</button>

<div class="project-details" *ngIf="project">
  <!-- Introduction -->
  <section class="introduction">
    <h2>{{ project.title }}</h2>
    <p class="section-body" [innerHTML]="project.introduction "></p>
  </section>

  <!-- prototype-->
  <section *ngIf="project.prototype" class="prototype">
    <h3>Prototype</h3>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/proto/8LaxHS1iCLffQlfBZQCTOv/Work-By-Hour?node-id=24-5831&node-type=canvas&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=24%3A5831&embed-host=share&show-proto-sidebar=0" allowfullscreen></iframe>
  </section>

  <!-- Demo-->
  <section *ngIf="project.demoUrl" class="demo">
    <h3>Demo</h3>
    <video controls>
      <source [src]="project.demoUrl" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </section>

  <!-- Image Slider-->
  <section *ngIf="project.images">
    <h3>Media Gallery</h3>
    <div class="slider-container" >
      <!-- Image Display -->
      <div class="slider-image">
        <img [src]="project.images[currentIndex]" alt="Slider image" loading="eager">
      </div>

      <!-- Left and Right Arrows -->
      <div class="slider-arrows">
        <button (click)="prevImage()">&#x276E;</button>
        <button (click)="nextImage()">&#x276F;</button>
      </div>

      <!-- Dots at the Bottom -->
      <div class="slider-dots">
    <span *ngFor="let image of project.images; let i = index"
          [class.active]="i === currentIndex"
          (click)="setCurrentIndex(i)">
    </span>
      </div>
    </div>
  </section>


  <section class="overview" *ngFor="let section of project.overview">
    <h3>{{section.title}}</h3>
    <p class="section-body" [innerHTML]="section.body"></p>
  </section>

  <!-- Challenges -->
  <section class="challenges" *ngIf="project.challenges">
    <h3>Challenges</h3>
    <p class="section-body" [innerHTML]="project.challenges"></p>
  </section>

  <!-- Technologies Used -->
  <section class="technologies">
    <h3>Technologies Used</h3>
    <ul>
      <li *ngFor="let tech of project.technologies">{{ tech }}</li>
    </ul>
  </section>
</div>
